*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --lightwhite:rgba(255, 255, 255, 0.744);
    --white:rgb(255,255,255);
    --gray:rgb(61, 71, 90);
    --lightgray:rgb(61, 71, 90, 0.7);
    --planetfont: 9rem;
    --h1font: 1.6rem;
    --lineheight: 2.2rem;
    --parafont: 1.2rem;
    --namefont: 3.5rem;
    --headerfont: 1.3rem;
}

html{
    font-size: 62.5%;
}

.headerNav{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 2rem;
}

.headerNavList{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4rem;
    height: 6rem;
    min-width: 60vw;
    background-color: var(--lightgray);
    min-height: 6rem;
}

.headerItem{
    height: 100%;
    padding-top: 2rem;
}

.logo{
    padding-left: 1rem;
}

.line{
    width: 30vw;
    transform: scaleX(0.7);
    z-index: 1;
}

.headerItem a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--lightwhite);
    letter-spacing: .2rem;
    font-size: var(--headerfont);
    padding-top: 3rem;
}

.headerItem:hover{
    border-bottom: .2rem solid var(--white);
    opacity: 0.7;
}

.headerItem:active{
    border-bottom: .2rem solid var(--white);
}


.num{
    color: var(--white);
}

.num1{
    padding-left: 5rem
}
