*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Testing git  */
:root{
    --lightWhite:rgba(255, 255, 255, 0.744);
    --white:rgb(255,255,255);
    --gray:rgb(61, 71, 90);
    --lightgray:rgb(61, 71, 90, 0.7);
    --h1font: 1.7rem;
    --lineheight: 2.2rem;
    --parafont: 1.2rem;
    --headerfont: 1.3rem;
}

html{
    font-size: 62.5%;
}

.headerNav{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 2rem;
}

.headerNavList{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4rem;
    height: 6rem;
    min-width: 60vw;
    background-color: var(--lightgray);
    min-height: 6rem;
}

.headerItem{
    height: 100%;
    padding-top: 2rem;
}

.logo{
    padding-left: 1rem;
    cursor: pointer;
}

.line{
    width: 30vw;
    transform: scaleX(0.7);
    z-index: 1;
}

.headerItem a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--lightWhite);
    letter-spacing: .2rem;
    font-size: var(--headerfont);
    padding-top: 3rem;
}
.close{
    display: none;
}
.menu-icon{
    display: none;
}

.headerItem:visited{
    border-bottom: .2rem solid var(--white);
}

.headerItem:hover{
    border-bottom: .2rem solid var(--white);
    opacity: 0.7;
}

.num{
    color: var(--white);
}

.num1{
    padding-left: 5rem
}

body{
    background-image: url(../Images/Bitmap\ Copy.png), url(../Images/Bitmap\ \(1\).png);
    background-repeat: no-repeat, no-repeat;
    background-size:auto;
    background-position: left, right;
    color: var(--white);
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}
.section{
    display: flex;
    justify-content: space-around;
    min-width: 100vw;
    min-height: 70vh;
    align-items: flex-end;
}

.subSection1{
    width: 45rem;
    display: flex;
    flex-wrap: wrap;
}

.bigtext1{
    letter-spacing: .3rem;
    font-size: 1.3rem;
    min-width: 45rem;
}

.bigtext2{
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: 10rem;
    font-weight: 400;
    min-width: 45rem;
}

.smalltext{
    line-height: var(--lineheight);
    font-size: var(--parafont);
    min-width: 45rem;
}

.outercircle{
    min-width: 15rem;
    min-height: 15rem;
    border-radius: 50%;
    font-size: 1.6rem;
    font-weight:500;
    padding-top: 6.5rem;
    color: var(--gray);
    letter-spacing: .3rem;
    text-align: center;
    background-color: var(--white);
    z-index: 1;
    position: relative;
}

.innercircle{
    min-width: 25rem;
    min-height: 25rem;
    border-radius: 50%;
    display: none;
    opacity: 0.6;
    background-color: var(--gray);
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.outercircle:hover .innercircle{
    display: inline-block;
}

/* Media query for mobile phones */

@media screen and (max-width:480px) {
    /* header */
    .headerNav{
        position: relative;
        display: flex;
        width: 100vw;   
        justify-content:space-between;
    }
        
    .headerNavList{
        position: absolute;
        display: none;
        flex-direction:column;
        height: 110vh;
        width: 70vw;
        top: -3vh;
        right: -8vw;
        transition: all 0.45s ease-in-out;
        background-color: rgba(61, 71, 90, 0.93);
        z-index: 99;
    } 

    .close{
        display: block;
        position: absolute;
        top: 4vh;
        right: 11vw;
        font-size: 5rem;
    }
    .line{
        display: none;
    }
    .logo{
        width: 5rem;
        padding: 0;
    }
    .logo img{
        width: 5rem;
    }
    .menu-icon{
        display: block;
        width: 3rem;
    }
    .menu-icon .icon{
        width: 3rem;
    }

    .headerItem{
        height: 2vh;
        width: 50vw;
        padding-top: 2rem;
}

.headerItem a{
    color: white;
    letter-spacing: .2rem;
    font-size: var(--h1font);
    padding-top: 3rem;
}    

.num1{
    padding-left: 0;
    margin-top: 15rem;
}

/* section */

.section{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    align-items: center;
}    
.subSection1{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-content:center;
}

.bigtext1{
    text-align: center;
    letter-spacing: .3rem;
    font-size: 1.3rem;
    width: 100%;
}

.bigtext2{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: 10rem;
    font-weight: 400;
    width: 100%;
}

.smalltext{
    text-align: center;
    line-height: var(--lineheight);
    font-size: 1.5rem;
    width: 100%;
}
    body{
    background-image: url(../Images/mhoback.jpg);
    background-repeat: repeat;
    background-size:cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    
}

.outercircle{
    width: 20rem;
    height: 20rem;
    font-size: 2rem;
    padding-top: 9rem;
}

.innercircle{
    min-width: 30rem;
    min-height: 30rem;
}
            
}

/* Media query for tablet phones */

@media screen and (min-device-width:480px)
and (max-device-width:786px) {
    body{
        background-image: url(../Images/mhoback.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        
    }
    
    .line{
        display: none;
    }
    .headerNav{
        gap: 0;
        justify-content: space-between;  
    }
    .headerNavList{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        height: 6rem;
        margin-top: -2.9rem;
        background-color: rgb(61, 71, 90, 0.3);
    }
    .num{
        display: none;
    }
    .num1{
        padding-left: 2rem;
    }
    .num4{
        padding-right: 3rem;
    }
    .section{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
    }    
    .subSection1{
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-content:center;
    }
    
    .bigtext1{
        text-align: center;
        letter-spacing: .3rem;
        font-size: 2rem;
        width: 100%;
    }
    
    .bigtext2{
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 3rem;
        font-size: 15rem;
        font-weight: 400;
        width: 100%;
    }
    
    .smalltext{
        text-align: center;
        line-height: 1.5;
        font-size: 2.2rem;
        width: 100%;
    }
    
    .outercircle{
        width: 25rem;
        height: 25rem;
        font-size: 3rem;
        padding-top: 11rem;
    }
    
    .innercircle{
        width: 35rem;
        height: 35rem;
    }

}
