body{
    background-image: url(../../images/Bitmap\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;

}.h1{
    color: var(--lightwhite);
    font-size: var(--h1font);
    letter-spacing: 0.3rem;
    font-weight: 400;
    padding-left: 13rem;
    padding-top: 4.3rem;
    text-transform: uppercase;
}

.num2{
    color: var(--lightgray);
    padding-right: 2rem;
    font-size: var(--h1font);
}

.mainSection{
    display: flex;
    justify-content: space-evenly;
    /* gap: 10%; */
    width: 80vw;
    min-height: 50vh;
}

.sectionText{
    width: 60%;
    height: 100%;
    margin-left: 13rem;
}

.commander{
    font-size: 2rem;
    color: var(--lightgray);
    text-transform: uppercase;
    padding-top: 8.5rem;
}

.douglas{
    color: var(--lightwhite);
    font-size: var(--namefont);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding-top: 1.2rem;
    padding-bottom: 2.4rem;
}

.writeUp{
    color: var(--lightwhite);
    font-size: var(--parafont);
    line-height: 2rem;
    padding-bottom: 6rem;
}

.buttonContainer{
    display: flex;
    gap: 1.5rem;
}

.liButton{
    list-style: none;
    text-decoration: none;
}

a .smallButton:hover{
    background-color: var(--lightwhite);;
}

.smallButton{
    width: 1rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--lightgray);
}

.sectionImg{
    margin-top: -4rem;
    width: 35%;
    height: 100%;
}

.sectionImg img{
    width: 33rem;
    height: 39.8rem;
    margin-top: 3rem;
}