body{
    background-image: url(../../images/Bitmap\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;

}.h1{
    color: var(--lightwhite);
    font-size: var(--h1font);
    letter-spacing: 0.3rem;
    font-weight: 400;
    padding-left: 13rem;
    padding-top: 4.3rem;
    text-transform: uppercase;
}

.num2{
    color: var(--lightgray);
    padding-right: 2rem;
    font-size: var(--h1font);
}

.mainSection{
    display: flex;
    justify-content: space-evenly;
    /* gap: 10%; */
    width: 80vw;
    min-height: 50vh;
}

.sectionText{
    width: 60%;
    height: 100%;
    margin-left: 13rem;
}

.commander{
    font-size: 2rem;
    color: var(--lightgray);
    text-transform: uppercase;
    padding-top: 8.5rem;
}

.douglas{
    color: var(--lightwhite);
    font-size: var(--namefont);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding-top: 1.2rem;
    padding-bottom: 2.4rem;
}

.writeUp{
    color: var(--lightwhite);
    font-size: var(--parafont);
    line-height: 2rem;
    padding-bottom: 6rem;
}

.buttonContainer{
    display: flex;
    gap: 1.5rem;
}
.mobileButton{
    display: none;
}

.liButton{
    list-style: none;
    text-decoration: none;
}

a .smallButton:hover{
    background-color: var(--lightwhite);
}

.smallButton{
    width: 1rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--lightgray);
}

.sectionImg{
    margin-top: -4rem;
    width: 35%;
    height: 100%;
}

.sectionImg img{
    width: 33rem;
    height: 39.8rem;
    margin-top: 3rem;
}


@media screen and (max-width:480px){

    body{
        background-image: url(../../images/mcreback.jpg);
        background-repeat: repeat;
    }
    .h1{
        font-size: 2rem;
        width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 3rem;
    }
    .mainSection{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100vw;
    }

    .sectionText{
        width: 100%;
        height: 100%;
        margin-left: 0;
        text-align: center;
        
    }
    .commander{
        font-size: 3rem;
        margin-top: 4rem;
    }
    .writeUp{
        font-size: 1.56rem;
        line-height: 2rem;
        padding-bottom: 6rem;
        width: 100%;
    } 
    .buttonContainer{
        display: flex;
        position: absolute;
        top: 75vh;
        left: 31vw;
        gap: 3rem;
    }
    .smallButton{
        width: 1.8rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--lightgray);
    }
    .sectionImg{
        margin-top: 4rem;
        width: 90%;
        height: 100%;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.744);
    }   
    
        
    }

    @media screen and (min-device-width:480px)
    and (max-device-width:786px){
        body{
                background-image: url(../../images/mcreback.jpg);
                background-repeat: repeat;
                width: 100vw;
        height: 100vh;
            }
            .h1{
                font-size: 3rem;
                width: 100%;
                padding-left: 3rem;
                margin-top: 3rem;
            }
            .mainSection{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100vw;
            }
        
            .sectionText{
                width: 100%;
                height: 100%;
                margin-left: 0;
                text-align: center;
                
            }
            .commander{
                font-size: 4rem;
                margin-top: -3rem;
            }
        .douglas{
            font-size: 5rem;
        }
            .writeUp{
                font-size: 2.3rem;
                line-height: 1.5;
                padding-bottom: 6rem;
                margin-top: 2rem;
                width: 100%;
            } 
            .buttonContainer{
                display: flex;
                position: absolute;
                top: 60vh;
                left: 39vw;
                gap: 3rem;
            }
            .smallButton{
                width: 1.8rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: var(--lightgray);
            }
            .sectionImg{
                margin-top: 4rem;
                width: 90%;
                height: 100%;
                margin-left: auto;
            }   
        .sectionImg img{
            width: 50rem;
            height: 70rem;
            margin-top: 15rem;
        }
            
        }

