body{
    background-image: url(../Images/Bitmap.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

.h1{
    color: var(--lightwhite);
    font-size: var(--h1font);
    letter-spacing: 0.3rem;
    padding-left: 13rem;
    font-weight: 400;
    padding-top: 4rem;
    text-transform: uppercase;
}

.numb{
    color: var(--lightgray);
    padding-right: 2rem;
    font-size: 1.6rem;
}

.container{
    display: flex;
    justify-content: center;
    gap: 12rem;
    min-width: 100vw;
    /* min-height: 62vh; */
}

.moonI{
    margin-top: 5rem;
    width: 30rem;
    /* height: 50%; */
}

.moonI img{
    width: 100%;
    /* height: 50%; */
}

.textContainer{
    margin-top: 3rem;
    width: 33rem;
    height: 30rem;
}

.miniList{
    display: flex;
    gap: 3rem;
}

.miniListItem{
    list-style: none;
    height: 2.5rem;
}

.miniListItem:hover{
    border-bottom: 0.2rem solid var(--lightwhite);
}

.miniListItem a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--lightwhite);
}

.moonT{
    text-transform: uppercase;
    padding-top: 1.5rem;
    font-size: var(--planetfont);
    font-weight: 400;
    color: var(--lightwhite);
}

.texts{
    font-size: var(--parafont);
    padding-top: 1rem;
    color: var(--lightwhite);
    line-height: var(--lineheight);
}

.linne img{
    width: 33rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

table{
    width: 30rem;
    height: 5rem;
}

.th{
    text-transform: uppercase;
    color: var(--lightwhite);
    font-size: 0.8rem;
}

td{
    text-transform: uppercase;
    color: var(--lightwhite);
    font-size: 1.7rem;
}

@media screen and (max-width:480px) {

    body{
        background-image: url(../Images/mdesback.png);
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
    }    
     
    .h1{
        width: 100vw;
        text-align: center;
        margin-top: 3rem;
        padding: 0;
        font-size: 2rem;
       
    }
    
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        gap: 0;
    } 
    
    .miniList{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .miniListItem{
        width: 25%;
    }
    .miniListItem a{
        font-size: 2rem; 
    }
    .moonT{
        width: 100%;
        text-align: center;
    }   
    .texts{
        font-size: 1.8rem;
        text-align: center;
        width: 100%;
    }    
    .linne{
        width: 100%;
    }
    table{
        text-align: center;
    }
    .th{
        font-size: 1.5rem;
    }
    
    td{
        font-size: 2.5rem;
        padding-top: 2rem;
    }

}

@media screen and (min-device-width:480px)
and (max-device-width:786px) {

    body{
        background-image: url(../Images/mdesback.png);
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }    
     
    .h1{
        width: 100vw;
        margin-top: 3rem;
        padding-left: 4rem;
        font-size: 2.5rem;
       
    }
    
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        gap: 0;
    } 

    .textContainer{
    margin-top: 8rem;
    width: 100vw;
}
    
    .miniList{
        display: flex;
        justify-content: center;
        width: 100%;
    }
   
    .miniListItem a{
        font-size: 2.5rem; 
    }
    .moonT{
        width: 100%;
        text-align: center;
        font-size: 13rem;
    }   
    .texts{
        font-size: 2rem;
        text-align: center;
        line-height: 1.5 ;
        width: 80vw;
        margin: auto;
    }    
    .linne{
        width: 100vw;
        margin-left: 6rem;
        margin-top: 2rem;
    }
    
.linne img{
    width: 80%;
}
        
    table{
        text-align: center;
        margin-left: 20rem;
        margin-top: 3rem;
    }
.th{
        font-size: 1.5rem;
    }
    
    td{
        font-size: 2.5rem;
        padding-top: 2rem;
    }
    
.moonI{
    margin-top: -20rem;
    width: 35rem;
}

.moonI img{
    width: 100%;
}

}
